<div id="background">
  <div id="page">
    <div id="header">
      <div id="logo">
        <a routerLink="/"><img src="assets/images/logo.png" alt="LOGO" height="100" width="200" /></a>
      </div>

      <div id="navigation">
        <ul>
          <li
            *ngFor="let link of topNavLinks"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
          >
            <a [routerLink]="link.path">{{ link.label }}</a>
          </li>
          <li *ngIf="!isLoggedIn()" routerLinkActive="selected">
            <a routerLink="/login">Log In</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a href="#" (click)="logout(); $event.preventDefault()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="contents">
      <div class="box">
        <div>
          <div class="body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div>
      <ul class="navigation">
        <li
          *ngFor="let link of topNavLinks"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: link.path === '/' }"
        >
          <a [routerLink]="link.path">{{ link.label }}</a>
        </li>
      </ul>
    </div>

    <p>© 2026 by Travlr Getaways. All Rights Reserved</p>
  </div>
</div>
