#navigation {
  overflow-x: auto;
}

#navigation ul {
  display: flex;
  width: max-content;
  min-width: 860px;
}

#navigation li {
  min-width: 122px;
  width: auto;
}

#footer > div {
  width: 860px;
}
